body {
    background-color: aliceblue;
}
body,input{
    color:blue;
}
a {
    text-decoration: none;
    border-bottom:1px dashed aliceblue;
}

/* list */
.list{
    background-color:wheat;
    margin:20px auto;
    width:100%;
    max-width:500px;
}